@font-face {
  font-family: 'robotoLight';
  src: url('./Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'robotoThin';
  src: url('./Roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: 'robotoRegular';
  src: url('./Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'robotoMedium';
  src: url('./Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'robotoBold';
  src: url('./Roboto/Roboto-Bold.ttf');
}
